[submodule "Targets/OBD2PRO_WIFI_CC32XX"]
	path = Targets/OBD2PRO_WIFI_CC32XX
	url = https://github.com/intrepidcs/OBD2PRO_WIFI_CC32XX.git
[submodule "Targets/OBD2PRO_BLE_NRF52"]
	path = Targets/OBD2PRO_BLE_NRF52
	url = https://github.com/intrepidcs/OBD2PRO_BLE_NRF52.git
[submodule "Targets/VALUECAN4_STM32F301"]
	path = Targets/VALUECAN4_STM32F301
	url = https://github.com/intrepidcs/VALUECAN4_STM32F301.git
[submodule "Targets/FIRE2_STM32F415"]
	path = Targets/FIRE2_STM32F415
	url = https://github.com/intrepidcs/FIRE2_STM32F415.git
[submodule "Targets/FIRE2_BLE_NRF51"]
	path = Targets/FIRE2_BLE_NRF51
	url = https://github.com/intrepidcs/FIRE2_BLE_NRF51.git
[submodule "Targets/NEODEVICE_STM32F301"]
	path = Targets/NEODEVICE_STM32F301
	url = https://github.com/intrepidcs/NEODEVICE_STM32F301.git
	branch = master
[submodule "Targets/NEODEVICE_STM32F415"]
	path = Targets/NEODEVICE_STM32F415
	url = https://github.com/intrepidcs/NEODEVICE_STM32F415.git
	branch = master
[submodule "Targets/OBD2LC_WIFI_CC32XX"]
	path = Targets/OBD2LC_WIFI_CC32XX
	url = https://github.com/intrepidcs/OBD2LC_WIFI_CC32XX.git
[submodule "Targets/OBD2LC_BLE_NRF52"]
	path = Targets/OBD2LC_BLE_NRF52
	url = https://github.com/intrepidcs/OBD2LC_BLE_NRF52.git
